{% extends "base.html" %}

{% set learnings = sql("""
    select * from learnings where topic = :topic order by created_utc
""", {"topic": topic}, database="learnings")
%}

{% block title %}Learnings on {{ topic }}{% endblock %}<!DOCTYPE html>

{% block body %}

{% if not learnings %}
    {{ raise_404("No Learnings found") }}
{% endif %}

<h1>Learnings on {{ topic }}</h1>

<ul>
{% for learning in learnings %}
    <li><a href="/{{ learning.topic }}/{{ learning.slug }}">{{ learning.title }}</a> - {{ learning.created[:10] }}</li>
{% endfor %}
</ul>

{% endblock %}
