{% extends "base.html" %}

{% set learnings = sql("""
    select * from learnings where path = :topic || '_' || :slug || '.md'
""", {"topic": topic, "slug": slug}, database="learnings") 
%}

{% set learning = learnings[0] %}

{% if not learnings %}
    {% set raised = raise_404("Learning not found") %}
{% endif %}

{% block title %}{{ learning.title }} | Learnings{% endblock %}

{% block body %}
<h1>{{ learning.title }}</h1>

{{ learning.html|safe }}


<p class="created">Created {{ learning.created }}{% if learning.created != learning.updated %}, updated {{ learning.updated }} &middot; <a href="{{ learning.url|replace("https://gitlab.com/ttanuki/learnings/-/tree/blob", "https://github.com/ttanuki/learnings/commits") }}">History</a>{% endif %} &middot; <a href="{{ learning.url }}">Edit</a></p>
{% endblock %}
