{% extends "base.html" %}

{% block title %}Learnings{% endblock %}

{% block body %}
<h1>Learnings</h1>

<p><strong>Recently Added:</strong> 
{% for row in sql("select * from learnings order by created_utc desc limit 5", database="learnings") %}
    <a href="/{{row.topic}}/{{row.slug}}">{{row.title}}</a>
    {% if not loop.last %}
    &nbsp;
    {% endif %}
    {% endfor %}
</p>

<form action="/learnings/search">
    <p>
        <input type="search" name="q" placeholder="Search {{ sql('select count(*) from Learnings', database="learnings")[0][0] }} Learnings">
        <input type="submit" value="search">
    </p>
</form>

{% for row in sql("select topic from learnings group by topic order by max(created_utc) desc", database="learnings") %}
<h2>{{ row.topic }}</h2>
<ul>
{% for learning in sql("select * from learnings where topic = :topic order by created_utc desc", {"topic": row.topic}, database="learnings") %}
    <li><a href="/{{ learning.topic }}/{{ learning.slug }}">{{ learning.title }}</a> - {{ learning.created[:10] }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}
