{% extends "base.html" %}

{% block title %}Learnings Search: {{ q }}{% endblock %}

{% block body %}
<h1>Learnings Search: {{ q }}</h1>

<form actions="/learnings/search">
    <p>
        <input type="search" name="q" value="{{ q }}">
            <input type="submit" value="Search">
    </p>
</form>

{% if q and not rows %}
<p><em>No results for "{{ q }}"</em></p>
{% endif %}

{% for row in rows %}
<p>
    <span class="topic">{{ row.topic }}</span> 
    <a href="/{{ row.topic }}/{{ row.slug }}">{{ row.title }}</a> - {{ row.created[:10] }}
    <pre>{{ highlight(row.snippet)|safe }}</pre>
</p>
{% endfor %}

{% endblock %}
