{% extends "base.html" %}

{% block title %}{% set learning = display_rows[0] %}{{ learning.title }} | Learnings{% endblock %}

{% block body %}{% set learning = display_rows[0] %}
<h1>{{ learning.title }}</h1>
{{ learning.html|safe }}
<p class="created">Created {{ learning.created }}{% if learning.created != learning.updated %}, updated {{ learning.updated }} &middot; <a href="{{ learning.url|replace("https://gitlab.com/ttanuki/learnings/-/tree/blob", "https://github.com/ttanuki/learnings/commits") }}">History</a>{%endif %} &middot; <a href="{{ learning.url }}">Edit</a></p>
{% endblock %}
